langchain
langchain-core
langchain-community
langgraph

langchain-mistralai
mistralai

tavily-python

beautifulsoup4
requests
lxml

python-dotenv

pydantic

fastapi
uvicorn

langsmith

typing-extensions

httpx

tiktoken

aiohttp

langchain_groq